# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
.env

# --- Environment & Misc ---
.venv/
.env.local
.vscode/
.idea/
.DS_Store
ngrok.log
*.env
!.env.example
!example.env